.service-container {
    width:80%; 
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 65px;
}

.service-heading {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
}

.service-heading span {
    color: #52B765;
}