.body-area {
    display: grid;
    grid-template-columns: 7fr 2fr 2fr;
    justify-content: start;
    align-items: center;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }