.order-container {
    width: 70%;
    margin: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 5px;
    margin-top: 30px;
    padding: 18px 41px;
    box-sizing: border-box;
    margin-bottom: 55px;
  }


  .heading-area {
    display: grid;
    grid-template-columns: 6fr 2fr 2fr;
    justify-content: start;
    align-items: center;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
  }

  
  .heading-area h3 {
    margin-bottom: 3px;
    color: #999999;
  }
  
  .heading-area-child {
    margin-left: 17px;
  }

  
  