.delivery-container {
    width: 90%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.delivery-container h1 {
    font-weight: 600;
    color: #323232;
}

.delivery-container h2 {
    font-weight: 700;
    color: #323232;
}

.delivery-container p {
    font-weight: 500;
    color: gray;
}